.box{
	width: 850px;
	height: 40px;
	background-color: #FF0000;
	border-radius: 10px;
	box-shadow: 1px 1px 2px 2px #232;
	border: 1px solid #FF0000;
}

.play{
	float: left;
	width: 0;
	height: 0;
	border-left: 15px solid #FFF;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	margin-top:8px  ;
	margin-left: 10px;
	cursor: pointer;
}

.pause{
	width: 8px;
	height: 20px;
	border-left: 4px solid #FFF;
	border-right: 4px solid #FFF;
	float: left;
	cursor: pointer;
	margin-top: 10px;
	margin-left: 10px;
}

.progress{
	width: 650px;
	height: 8px;
	background-color: #FFF;
	float: left;
	border-radius: 5px;
	border: 1px solid #FFF;
	margin-top: 16px;
	margin-left: 12px;
	box-shadow: 1px 1px 2px 2px #132;
	position: relative;
}

.bar{
	width: 0%;
	height: 100%;
	background-color: #CCC;
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0;
	border-radius: 5px;
}

.control{
	width: 18px;
	height: 18px;
	background-color: #FFF;
	border-radius: 100%;
	position: absolute;
	left: 0;
	top: -5px;
	box-shadow: 1px 1px 2px 2px #132;
}

.soundon{
	width: 10px;
	height: 8px;
	border-right: 12px solid #FFF;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	float: left;
	margin-top: 6px;
	margin-left: 10px;
	cursor: pointer;
}

.soundoff{
	width: 10px;
	height: 8px;
	border-right: 12px solid #CCC;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	float: left;
	margin-top: 6px;
	margin-left: 10px;
	cursor: pointer;
}

.volume{
	width: 60px;
	height: 8px;
	background-color: #FFF;
	float: left;
	border-radius: 5px;
	border: 1px solid #FFF;
	margin-top: 16px;
	margin-left: 12px;
	box-shadow: 1px 1px 2px 2px #132;
	position: relative;
}

.volume-bar{
	width: 20%;
	height: 100%;
	background-color: #CCC;
	position: absolute;
	display: inline-block;
	top: 0;
	left: 0;
	border-radius: 5px;
}

.volume-control{
	width: 15px;
	height: 15px;
	background-color: #FFF;
	border-radius: 100%;
	position: absolute;
	left: 0;
	top: -4px;
	box-shadow: 1px 1px 2px 2px #132;
}

.full{
	width: 15px;
	height: 15px;
	border: 3px solid #FFF;
	float: left;
	margin-top: -17px;
	margin-left: 90px;
	transition-property: all;
	transition-duration: 0.5s;
}
.full:hover{
	width: 20px;
	height: 20px;
	border: 3px solid #CCC;
	float: left;
	margin-top: -17px;
	margin-left: 90px;
}
